.wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px lightgray;
    border-radius: 20px;
    padding: 15px;
    min-width: 315px;
    height: 330px;
    a {
        color: black;
    }
    .poster {
        img {
            width: 100%;
        }
    }
    .title {
        font-weight: bold;
        margin: 10px 2px;
    }
    .creator {
        font-size: 1em;
        opacity: 0.7;
        padding: 2px 0px;
        margin: 4px 2px 0px 0px;
    }
    .date {
        font-size: 1em;
        opacity: 0.7;
    }
    .tags {
        max-width: 319px;
        padding: 5px;
        display: flex;
        margin: 4px 2px 0px 0px;
        .tag {
            background-color: #DEDBDC;
            width: fit-content;
            padding: 5px 10px 5px 10px;
            margin-right: 5px;
            border-radius: 20px;
        }
    }
}
.wrapper:hover {
    .poster {
        opacity: 0.8;
    }
}
