@import "../../styles/variables";
@import "../../styles/mixins/buttons.scss";
.header {
    position: fixed;
    color: $main;
    box-shadow: 1px 1px 1px lightgray;
    display: grid;
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: $white;
    grid-template-columns: 
    minmax(0px, 20px) 
    250px 
    1fr 
    minmax(350px, 700px) 
    1fr 
    minmax(0px, 200px) 
    minmax(2px, 20px) 
    60px 
    minmax(0px, 20px);
    grid-template-rows: 60px;
    align-items: center;
    .logo {
        grid-column: 2;
        user-select: none;
        cursor: pointer;
    }
    .search {
        grid-column: 4;
    }
    .username {
        grid-column: 6;
        display: flex;
        justify-content: flex-end;
        right: 0px;
    }
    .log {
        grid-column: 8;
        @include button(50px, 50px, $white, 50%);
    }
}
@media (max-width: 1000px) {
    .header {
        height: 100px;
        grid-template-rows: 100px;
    }
    .username {
        font-size: x-large;
    }
}