@import "../../styles/variables";
@mixin bar {
    width: 10px;
    height: 70px;
    background: none;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
}

.loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar1 {
    @include bar;
    animation-delay: 0.1s;
  }
  .bar2 {
    @include bar;
    animation-delay: 0.2s;
  }
  .bar3 {
    @include bar;
    animation-delay: 0.3s;
  }
  .bar4 {
    @include bar;
    animation-delay: 0.4s;
  }
  .bar5 {
    @include bar;
    animation-delay: 0.5s;
  }
  .bar6 {
    @include bar;
    animation-delay: 0.6s;
  }
  .bar7 {
    @include bar;
    animation-delay: 0.7s;
  }
  .bar8 {
    @include bar;
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: transparent;
    }
    50% {
      transform: scaleY(1);
      background: $white;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
  