@import "../../styles/variables";
@import "../../styles/mixins/buttons.scss";
@import "../../styles/mixins/page.scss";

.page {
    @include page;
}

.form {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    .input {
        width: 70%;
        height: 20px;
        padding: 10px 15px;
        font-size: medium;
        border: none;
        //border-bottom: 1px solid $label;
        outline: none;
        &:hover {
            border-bottom: 1px solid $main;
        }
        &:focus {
            border-bottom: 1px solid $main;
        }
        z-index: 1;
    }
    .button {
        margin-left: -35px;
        @include button(20px, 30px, white, none);
        z-index: 2;
        background: none;
    }
}


