@import "../../styles/mixins/page.scss";
@import "../../styles/mixins/form.scss";

.page {
    @include page;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    @include form(600px);
}