@import "../../styles/variables";
@import "../../styles/mixins/form.scss";
@import "../../styles/mixins/page.scss";

.page {
    @include page;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    @include form(600px);
    .submitButton {
        @include roundedButton;
        border-radius: 20px;
        height: 60px;
        min-width: max-content;
        transition: 0.2s;
        &:hover {
            border: 1px solid $main;
            color: $main;
            transition: 0.3s;
        }
    }
    .link {
        opacity: 0.7;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    @media (max-width: 1000px) {
        .submitButton {
            height: 150px;
            border-radius: 50px;
        }
        .link {
            font-size: xx-large;
        }
    }
}
